:host-context(.bg-light-red) .card-list-wrapper {
  background-color: rgba(250, 0, 0, 0.1);
}

:host-context(.bg-light-green) .card-list-wrapper {
  background-color: rgba(0, 250, 0, 0.1);
}

:host-context(.bg-light-blue) .card-list-wrapper {
  background-color: rgba(0, 0, 250, 0.1);
}
